= form_for @test do |f|
  -if @test.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test.errors.count, "error")} prohibited this test from being saved:"
      %ul
        - @test.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :test
    = f.text_field :test
  .actions
    = f.submit 'Save'
